<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カテゴリーの編集</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<nav th:replace="nav"></nav>
	<hr>
	<main>
		<h3>カテゴリーの編集</h3>
		<form th:action="'/categories/'+${category.id}+'/edit'" method="post">
			<table class="list">
				<tr>
					<th>カテゴリーID</th>
					<td th:text="${category.id}"></td>
				</tr>
				<tr>
					<th>カテゴリー名</th>
					<td>
						<input type="text" size="40" name="name" th:value="${category.name}">
					</td>
				</tr>
			</table>
			<button class="plain">更新</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>