<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<nav th:replace="nav"></nav>
	<hr>
	<main>
		<div th:text="${success}"></div>
		<th:block th:if="${success == null}">
			<h2>お問い合わせ</h2>
			<form action="/request" method="post">
				<table>
					<tr>
						<th>お問い合わせ内容</th>
					</tr>
					<tr>
						<td>
							<textarea rows="15" cols="60" name="requestDetail"></textarea>
						</td>
					</tr>
				</table>
				<button class="plain">送信</button>
			</form>
		</th:block>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>